In [76]:
# capitalize method

txt= "my Name is Prashant TYAGI"
print(txt.capitalize())

My name is prashant tyagi

In [77]:
# casefold method

caseffold = txt.casefold()
print(caseffold)

my name is prashant tyagi

In [78]:
# center method

a = caseffold.center(30, "*")
print(a)
print(txt.center(50))

**my name is prashant tyagi***
            my Name is Prashant TYAGI

In [79]:
# count method

a = "I love apples, apple are my favorite fruit"
b = a.count("apple")
print(b)

a = "I love apples, apple are my favorite fruit"
b = a.count("a",2,42)
print(b)

2
4

In [80]:
# encode  method

name= "my name is Pråshånt"
print(name.encode(encoding="ascii", errors="backslashreplace")) #uses a backslash instead of the character that could not be encoded
print(name.encode(encoding="ascii", errors="ignore"))   #ignores the characters that cannot be encoded
print(name.encode(encoding="ascii", errors="namereplace"))  #replaces the character with a text explaining the character
#print(name.encode(encoding="ascii", errors="strict"))  # default, raises an error on failure
print(name.encode(encoding="ascii", errors="replace"))  #replaces the character with a questionmark
print(name.encode(encoding="ascii", errors="xmlcharrefreplace"))    #replaces the character with an xml character

b'my name is Pr\\xe5sh\\xe5nt'
b'my name is Prshnt'
b'my name is Pr\\N{LATIN SMALL LETTER A WITH RING ABOVE}sh\\N{LATIN SMALL LETTER A WITH RING ABOVE}nt'
b'my name is Pr?sh?nt'
b'my name is Pr&#229;sh&#229;nt'

In [81]:
# endswith method

a = "I love apples, apple are my favorite fruit"
print(a.endswith("fruit", 1, 50))

True

In [82]:
# expandtabs method

txt= "\tP\tr\ta\ts\th\ta\tn\tt"
print(txt.expandtabs())

        P       r       a       s       h       a       n       t

In [83]:
# find method

text = "Hello, welcome to  my world"
print(text.find("m"))

12

In [84]:
# format method

txt1 = "My name is {fname} {lname}, I am {age}"
print(txt1.format(fname= "Prashant", lname= "Tyagi", age=24))

txt2 = "My name is {0} {1}, I am {2}"
print(txt2.format("John", "Cena", 55))

txt3 = "My name is {} {}, I am {}"
print(txt3.format("Will", "Smith", 60))

# format_map method
txt4 = {'x': 'John', 'y': 'Wick'}
print("{x}'s last name is {y}".format_map(txt4))

My name is Prashant Tyagi, I am 24
My name is John Cena, I am 55
My name is Will Smith, I am 60
John's last name is Wick

In [85]:
# format_map method

profession = { 'name': ['Barry', 'Bruce'],
              'profession': ['Engineer', 'Doctor'],
              'age': [30, 35]}
print('{name[0]} is an {profession[0]} and his age is {age[0]}.'.format_map(profession))
print('{name[1]} is an {profession[1]} and his age is {age[1]}.'.format_map(profession))

Barry is an Engineer and his age is 30.
Bruce is an Doctor and his age is 35.

In [86]:
# index method
txt="My name is Prashant"
print(txt.index("Prashant",0,24))

11

In [87]:
# isalnum method

txt = "Sector 7"
print(txt.isalnum())

False

In [88]:
# isalpha method

txt = "Sector"
print(txt.isalpha())

True

In [89]:
# isdecimal method

txt = "01"
txt1 = "hello"
print(txt.isdecimal())
print(txt1.isdecimal())

True
False

In [90]:
# islower method

txt = "My name is PRASHANT TYAGI"
a = txt.casefold()
print(a)
print(a.islower())

my name is prashant tyagi
True

In [91]:
# isdigit method

txt = "123"
txt1 = "Prashant"
print(txt.isdigit())
print(txt1.isdigit())

True
False

In [92]:
#identifier method

a = "hello"
b = "hello_132"
c = "123hello"
d = "hello world"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

In [93]:
# isnumeric method

a = "132456"
b = "&sup13"
c = "1.2"
d = "32km"
print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(d.isnumeric())

True
False
False
False

In [94]:
#  isprintable method

txt = "My Name Is Prashant"
print(txt.isprintable())

# isspace method
txt1 = "  "
print(txt1.isspace())

# istitle() Method
txt2= "22 name"
print(txt2.istitle())
print(txt.istitle())

True
True
False
True

In [95]:
# isupper() Method
name= "PRASHANT"
print(name.isupper())

True

In [96]:
# join() Method
myTuple = ("name", "John", "country", "Norway")
mySeparator = "&"

x =  mySeparator.join(myTuple)
print(x)

name&John&country&Norway

In [97]:
# ljust() Method
txt= "Prashant "

print(txt.ljust(20), "is my name")
print(txt.ljust(20, "0"), "is my name")

Prashant             is my name
Prashant 00000000000 is my name

In [98]:
#lstrip() Method
txt = ",,,,,,,,,,xxxxxxxxzzzzz&&&&**Prashant"
a = txt.lstrip(",xz&*")
print(a)

Prashant

In [99]:
# maketrans() Method

txt = "good night John"
myTable = str.maketrans("J", "W")
print(txt.translate(myTable))

x = "nhoJ"
y = "lliW"
myTable1 = str.maketrans(x , y)
print(txt.translate(myTable1))

x = "nhoJ"
y = "lliW"
z = "thgn"
myTable2 = str.maketrans(x , y, z)
print(txt.translate(myTable2))

good night Wohn
giid liglt Will
iid i Wi

In [100]:
# partition() Method

txt = "I could eat bananas all day"
print(txt.partition("eat"))

#If the specified value is not found then

txt1 = "I could eat bananas all day"
print(txt.partition("apple"))

('I could ', 'eat', ' bananas all day')
('I could eat bananas all day', '', '')

In [102]:
# replace() Method

txt = "I could eat bananas all day"
print(txt.replace("bananas", "apple"))

# string.replace(oldvalue, newvalue, count)

txt_1 = "one one one was a race horse, two two was one too."
print(txt_1.replace("one", "two", 2))

I could eat apple all day
two two one was a race horse, two two was one too.

In [17]:
# rfind() Method

txt = " My name is prashant"
print(txt.rfind("i"))

#  rindex() Method
print(txt.rindex("n",1,13))

9
4

In [22]:
# rpartition() method
txt = "I could eat bananas all day, bananas are my favorite fruit"
print(txt.rpartition("bananas"))

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [61]:
# rsplit() Method
txt = "apple, banana, cherry, apple, banana, cherry"
print(txt.rsplit(", ", 2))

# rstrip() Method
txt1 = "PRASHANT..,.....&&###$$#,,..."
print(txt1.rstrip(",.#$&"))

['apple, banana, cherry, apple', 'banana', 'cherry']
PRASHANT

In [88]:
#   splitlines() Method
txt = "I could eat bananas all \n day bananas are my favorite fruit"
print(txt.splitlines())

# startswith() Method
txt1 = "Hello, welcome to my world."
print(txt1.startswith("welcome",7,20))

['I could eat bananas all ', ' day bananas are my favorite fruit']
True

In [94]:
#   strip() Method
txt = "     banana     "
print(txt.strip())

#   swapcase() Method
txt1 = "Hello, welcome to My WORLD."
print(txt1.swapcase())

#   title() Method
txt2 = "hello, welcome to My 2nd WORLD."
print(txt2.title())

banana
hELLO, WELCOME TO mY world.
Hello, Welcome To My 2Nd World.

In [100]:
# translate() Method
txt2 = "hello, welcome to My 2nd WORLD."
x = str.maketrans("2nd", "3rd")
print(txt2.translate(x))

txt3 = "hello, welcome to My 1nd WORLD."
x = "dn"
y = "ts"
myTable = str.maketrans(x ,y)
print(txt3.translate(myTable))

hello, welcome to My 3rd WORLD.
hello, welcome to My 1st WORLD.

In [106]:
# zfill() method

txt= "10"
txt_1 = "hello world"
print(txt.zfill(10))
print(txt_1.zfill(10))

0000000010
hello world